@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar,
::-ms-scrollbar,
::-moz-scrollbar,
::-o-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb,
::-ms-scrollbar-thumb,
::-moz-scrollbar-thumb,
::-o-scrollbar-thumb {
    background: #4B2E1D;
    border-radius: 3px;
}

::-webkit-scrollbar-track,
::-ms-scrollbar-track,
::-moz-scrollbar-track,
::-o-scrollbar-track {
    background: #f4f4f4;
}

::selection,
::-webkit-selection,
::-ms-selection,
::-moz-selection,
::-o-selection {
    background: #4B2E1D;
    color: #fff;
    text-shadow: none;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-break: break-all;
}

table td,
table th {
    vertical-align: middle;
}

fieldset {
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: none !important;
}

img,
video {
    border: 0;
    vertical-align: top;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

address,
em,
cite {
    font-style: normal;
    font-weight: normal;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

button img {
    vertical-align: middle;
}

input[type="text"] {
    outline: 0;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

textarea {
    outline: 0;
}

select,
textarea,
button,
input {
    outline: 0;
    font: 1.5rem "Lato", "Noto Sans KR", sans-serif;
}

.blind {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    height: 0;
    text-indent: -9999px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/* layout */
html {
    font-size: 10px;
}

body {
    font-family: "Lato", "Noto Sans KR", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -0.06em;
    color: #222;
    overflow-x: hidden;
}

.inner {}

/* section */