@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #000;
}

::selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-break: break-all;
}

table th,
table td {
    padding: 1em 0;
    border: 1px solid #ccc;
    vertical-align: middle;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
    font-weight: 600;
}

fieldset {
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: none !important;
}

img,
video {
    border: 0;
    vertical-align: top;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

address,
em,
cite {
    font-style: normal;
    font-weight: normal;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

button img {
    vertical-align: middle;
}

input {
    border: 1px solid #ccc;
    border-radius: 2px;
}

input[type="text"],
input[type="tel"] {
    padding: 0.6em;
    outline: 0;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type="checkbox"] {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.1em;
    height: 1.1em;
}

input[type="checkbox"]:checked {
    border: none;
}

input[type="checkbox"]:checked:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 2px;
    background: url(/img/ico_chk.svg) no-repeat center / 100%;
}

textarea {
    padding: 0.6em;
    outline: 0;
    border: 1px solid #ccc;
    resize: none;
}

select,
textarea,
button,
input {
    outline: 0;
    font: 1.5rem "Lato", "Noto Sans KR", sans-serif;
}

.blind {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    height: 0;
    text-indent: -9999px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/* layout */
html {
    font-size: 10px;
}

body {
    font-family: "Lato", "Noto Sans KR", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;
    color: #000;
    overflow-x: hidden;
}

.inner {
    width: 80em;
    margin: 0 auto;
}

/* section */
section {
    margin-bottom: 8em;
}

section h3 {
    margin-bottom: 1em;
    font-size: 3.6rem;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-align: center;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
}

header .logo {
    width: 100vw;
    background-color: #fff;
}

header .logo a {
    display: block;
    width: 17em;
    padding: 1em 0;
    margin: 0 auto;
}

header .logo img {
    width: 100%;
}

header nav {
    width: 100vw;
    padding: 0.8em 0;
    background-color: #000;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav li {
    margin: 0 1.5em;
}

header nav a {
    font-size: 1.8rem;
    font-weight: 500;
    color: #ccc;
    transition: all 0.2s;
}

header nav a:hover {
    color: #fff;
}

header nav li.on a {
    font-weight: 600;
    color: #fff;
}

/* mobMenu */
.mobMenu {
    display: none;
}

.menuClose {
    display: none;
}

/* footer */
footer {
    padding: 2em 0;
    background-color: #eee;
}

footer li {
    color: #555;
}

footer b {
    font-weight: 600;
}

footer p {
    position: relative;
    margin-top: 2em;
    color: #555;
    opacity: 0.8;
}

footer p::before {
    content: "";
    position: absolute;
    top: -1em;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

/* btn */
.btn_area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 1em 2em;
    border-radius: 2px;
    background-color: #000;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
}


/* to-top */
#to-top {
    position: fixed;
    bottom: 2em;
    right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    background-color: #555;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    z-index: 8;
}

#to-top span {
    font-size: 2.5rem;
}

/* tablet */
@media screen and (max-width: 1200px) {

    /* layout */
    .inner {
        width: 90vw;
    }
}

@media screen and (max-width: 768px) {

    /* layout */
    html {
        font-size: 9px;
    }

    .inner {
        width: 95vw;
    }

    /* section */
    section {
        margin-bottom: 6em;
    }
}

@media screen and (max-width: 640px) {

    /* layout */
    html {
        font-size: 8px;
    }

    .inner {
        width: 90vw;
    }

    p {
        word-break: keep-all;
    }

    br {
        display: none;
    }

    /* section */
    section {
        margin-bottom: 4em;
    }

    /* header */
    header {
        border-bottom: 1px solid #eee;
    }

    header .logo {
        position: relative;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        width: 100vw;
        height: 100vh;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.6);
        transition: all 0.3s;
    }

    header nav ul {
        position: absolute;
        top: 0;
        left: -100%;
        display: block;
        width: 70vw !important;
        height: 100vh;
        margin: 0 !important;
        background-color: #000;
        transition: all 0.3s;
    }

    header nav li {
        margin: 0;
        border-bottom: 1px solid #333;
    }

    header nav a {
        display: block;
        padding: 1em 1.5em;
        font-size: 2rem;
    }

    header nav ul.on {
        left: 0;
    }

    /* mobMenu */
    .mobMenu {
        position: absolute;
        top: 50%;
        left: 5vw;
        transform: translateY(-50%);
        display: block;
    }

    .mobMenu span {
        color: #000;
    }

    .menuClose {
        position: absolute;
        top: 1em;
        right: 1em;
        display: block;
    }

    .menuClose span {
        font-size: 4rem;
        color: #fff;
    }

}