@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #000;
}

::selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-break: break-all;
}

table th,
table td {
    padding: 1em 0.5em;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
    font-size: 1.4rem;
    text-align: center;
    word-break: keep-all;
}

table th {
    border-top: 1px solid #ccc;
    background-color: #F9F7F2;
    font-weight: 500;
}

fieldset {
    border: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus {
    outline: none !important;
}

img,
video {
    border: 0;
    vertical-align: top;
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

address,
em,
cite {
    font-style: normal;
    font-weight: normal;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

button img {
    vertical-align: middle;
}

input {
    border: 1px solid #ccc;
    border-radius: 2px;
}

input[type="text"],
input[type="tel"] {
    padding: 0.6em;
    outline: 0;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type="checkbox"] {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.1em;
    height: 1.1em;
}

input[type="checkbox"]:checked {
    border: none;
}

input[type="checkbox"]:checked:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 2px;
    background: url(/img/ico_chk.svg) no-repeat center / 100%;
}

textarea {
    padding: 0.6em;
    outline: 0;
    border: 1px solid #ccc;
    resize: none;
}

select,
textarea,
button,
input {
    outline: 0;
    font: 1.5rem "Lato", "Noto Sans KR", sans-serif;
}

.blind {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    height: 0;
    text-indent: -9999px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/* layout */
html {
    font-size: 10px;
}

body {
    font-family: "Lato", "Noto Sans KR", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1.4;
    color: #000;
    overflow-x: hidden;
}

.inner {
    width: 60vw;
    margin: 0 auto;
}

/* section */
section {
    margin-bottom: 6em;
}

/* btn */
.btn_area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 0.5em 2em;
    border-radius: 2px;
    background-color: #00690F;
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    padding: 1.8em 0;
    transition: all 0.3s;
    z-index: 99;
}

header.move-down {
    background-color: #00690F;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}

header .inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .logo img {
    width: 14vw;
}

header .nav {
    display: flex;
    align-items: center;
}

header .nav>li {
    position: relative;
    margin-right: 1.5em;
}

header .nav>li>a {
    padding: 1em 0;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
}

header .sub {
    position: absolute;
    top: 2em;
    left: 0;
    display: none;
    width: max-content;
    background-color: #fff;
}

header .sub li {
    border-bottom: 1px solid #DFD4BA;
    transition: all 0.2s;
}

header .sub li:hover {
    background-color: #F5F0E7;
}

header .sub li a {
    display: block;
    padding: 0.5em 2.5em 0.5em 1em;
    transition: all 0.2s;
    font-weight: 500;
    color: #999;
}

header .sub li a:hover {
    color: #2B8C44;
}

header .tnb {
    display: flex;
    align-items: center;
}

header .tnb li {
    margin-right: 1.5em;
}

header .tnb a {
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
}

header .tnb li.instagram {
    position: relative;
    padding-left: 1.5em;
}

header .tnb li.instagram:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    width: 1px;
    height: 80%;
    background-color: #fff;
}

header .tnb li.instagram img {
    width: 1.3em;
}

/* mobMenu */
.mobMenu {
    display: none;
}

.menuClose {
    display: none;
}

/* footer */
footer {
    padding: 2em 0 8em;
    background-color: #F5F0E7;
}

footer li {
    font-size: 1.4rem;
    color: #666;
}

footer b {
    font-weight: 600;
}

footer p {
    position: relative;
    margin-top: 2em;
    font-size: 1.4rem;
    color: #666;
    opacity: 0.5;
}

footer p::before {
    content: "";
    position: absolute;
    top: -1em;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

/* bottomBar */
#bottomBar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 1em 0;
    background-color: #333;
    z-index: 99;
}

#bottomBar .inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottomBar h3 {
    margin-right: 2em;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

#bottomBar form {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#bottomBar input {
    margin-left: 0.5em;
}

#bottomBar button {
    margin-left: 0.5em;
}