@charset "utf-8";

/* main */
#main {
  position: relative;
  height: 75vh;
  margin-bottom: 8em;
}

#main .mainSwiper {
  height: 100%;
  overflow: hidden;
}

#main figure {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#main .swiper-horizontal > .swiper-pagination-bullets,
#main .swiper-pagination-bullets.swiper-pagination-horizontal,
#main .swiper-pagination-custom,
#main .swiper-pagination-fraction {
  top: auto;
  bottom: -4vh;
}

#main .swiper-pagination-bullet {
  width: 0.7em;
  height: 0.7em;
  background-color: #eee;
  opacity: 1;
}

#main .swiper-pagination-bullet-active {
  background-color: #00690f;
}

/* picnic */
#picnic .inner {
  display: flex;
  justify-content: center;
}

#picnic .picnicImg {
  width: 40%;
  margin-right: 2em;
}

#picnic .picnicImg img {
  width: 100%;
}

#picnic .picnicText h3 {
  margin-bottom: 0.3em;
  font-size: 4rem;
  font-weight: 600;
}

#picnic .picnicText h4 {
  margin-bottom: 0.5em;
  font-size: 2.6rem;
  font-weight: 500;
}

#picnic .picnicText > p {
  margin-bottom: 1em;
  font-size: 1.6rem;
  color: #666;
}

#picnic .picnicText a {
  display: flex;
  align-items: center;
}

#picnic .picnicText a p {
  margin-right: 0.5em;
  font-size: 1.8rem;
  font-weight: 500;
}

#picnic .picnicText a span {
  font-size: 1.8rem;
  font-weight: 400;
}

/* sandwich */
#sandwich .inner {
  display: flex;
  justify-content: center;
}

#sandwich .sandwichText {
  margin-right: 2em;
}

#sandwich .sandwichText h3 {
  margin-bottom: 0.3em;
  font-size: 4rem;
  font-weight: 600;
}

#sandwich .sandwichText h4 {
  margin-bottom: 0.5em;
  font-size: 2.6rem;
  font-weight: 500;
}

#sandwich .sandwichText > p {
  margin-bottom: 1em;
  font-size: 1.6rem;
  color: #666;
}

#sandwich .sandwichText a {
  display: flex;
  align-items: center;
}

#sandwich .sandwichText a p {
  margin-right: 0.5em;
  font-size: 1.8rem;
  font-weight: 500;
}

#sandwich .sandwichText a span {
  font-size: 1.8rem;
  font-weight: 400;
}

#sandwich .sandwichImg {
  width: 40%;
}

#sandwich .sandwichImg img {
  width: 100%;
}

/* instagram */
#instagram .inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

#instagram a img {
  width: 3em;
  margin: 0 auto 0.5em;
}

#instagram a p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #999;
}

@media screen and (max-width: 1400px) {
  /* main */
  #main {
    height: 60vh;
  }
}

@media screen and (max-width: 1024px) {
  /* main */
  #main {
    height: 45vh;
  }

  #main .swiper-horizontal > .swiper-pagination-bullets,
  #main .swiper-pagination-bullets.swiper-pagination-horizontal,
  #main .swiper-pagination-custom,
  #main .swiper-pagination-fraction {
    bottom: -3vh;
  }
}

@media screen and (max-width: 640px) {
  /* main */
  #main {
    height: 60vh;
    margin-bottom: 6em;
  }

  #main img {
    width: auto;
    height: 100%;
  }

  #main .swiper-horizontal > .swiper-pagination-bullets,
  #main .swiper-pagination-bullets.swiper-pagination-horizontal,
  #main .swiper-pagination-custom,
  #main .swiper-pagination-fraction {
    bottom: -3vh;
  }

  /* picnic */
  #picnic .inner {
    display: block;
  }

  #picnic .picnicText {
    margin-right: 0;
    margin-bottom: 1em;
  }

  #picnic .picnicImg {
    width: 100%;
  }

  /* sandwich */
  #sandwich .inner {
    display: block;
  }

  #sandwich .sandwichText {
    margin-right: 0;
    margin-bottom: 1em;
  }

  #sandwich .sandwichImg {
    width: 100%;
  }
}
