@charset "utf-8";

/* main */
#main {
  position: relative;
  height: 75vh;
}

#main .mainSwiper {
  height: 100%;
  overflow: hidden;
}

#main figure {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#main .swiper-horizontal>.swiper-pagination-bullets,
#main .swiper-pagination-bullets.swiper-pagination-horizontal,
#main .swiper-pagination-custom,
#main .swiper-pagination-fraction {
  top: auto;
  bottom: -4vh;
}

#main .swiper-pagination-bullet {
  width: 0.7em;
  height: 0.7em;
  background-color: #eee;
  opacity: 1;
}

#main .swiper-pagination-bullet-active {
  background-color: #00690F;
}

@media screen and (max-width: 1400px) {
  /* main */
  #main {
    height: 60vh;
  }
}

@media screen and (max-width: 1024px) {

  /* main */
  #main {
    height: 45vh;
  }

  #main .swiper-horizontal>.swiper-pagination-bullets,
  #main .swiper-pagination-bullets.swiper-pagination-horizontal,
  #main .swiper-pagination-custom,
  #main .swiper-pagination-fraction {
    bottom: -3vh;
  }
}

@media screen and (max-width: 640px) {

  /* main */
  #main {
    height: 60vh;
  }

  #main img {
    width: auto;
    height: 100%;
  }

  #main .swiper-horizontal>.swiper-pagination-bullets,
  #main .swiper-pagination-bullets.swiper-pagination-horizontal,
  #main .swiper-pagination-custom,
  #main .swiper-pagination-fraction {
    bottom: -3vh;
  }
}