@charset "utf-8";

/* common */
section p {
  font-size: 2rem;
  text-align: center;
}

/* main */
#main {
  margin: 14em 0 8em;
}

#main .inner {
  height: 60vh;
  border-radius: 1em;
  overflow: hidden;
}

#main .swiper-button-next,
#main .swiper-button-prev {
  color: #fff;
}

#main .swiper-button-next:after,
#main .swiper-button-prev:after {
  font-size: 2.8rem;
}

#main figure {
  position: relative;
  height: 100%;
  z-index: 0;
}

#main figure:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

#main img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#main h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-size: 5rem;
  text-align: center;
  line-height: 1.4;
  color: #fff;
}

#main h2 span {
  position: relative;
}

#main h2 span:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.05em;
  width: 100%;
  height: 0.05em;
  background-color: #fff;
}

/* street */
#street {
  padding: 8em 0;
  background-color: #f4f4f4;
}

#street img {
  width: 65%;
  margin: 0 auto 2em;
}

/* menu */
#menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#menu li {
  width: calc((100% - 6em) / 3);
}

#menu figure {
  overflow: hidden;
}

#menu img {
  transition: all 0.4s;
  width: 100%;
}

#menu a:hover img {
  transform: scale(1.1);
  transition: all 0.4s;
}

#menu h4 {
  margin-top: 0.5em;
  font-size: 2.4rem;
  text-align: center;
}

/* membership */
#membership ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2em;
}

#membership li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15em;
  height: 15em;
  margin-right: 3em;
  border-radius: 50%;
  background-color: #f4f4f4;
}

#membership li:last-child {
  margin-right: 0;
}

#membership img {
  width: 30%;
  margin: 0 auto 1em;
}

#membership p {
  color: #000;
}

#membership strong {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

#membership span {
  display: block;
  margin-top: 2em;
  text-align: center;
  opacity: 0.8;
}

/* hongdae */
#hongdae {
  position: relative;
  width: 100%;
  height: 40vh;
  margin-bottom: 0;
  background: url(/img/img_home_hongdae.jpg) no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: right 50% bottom 25%;
}

#hongdae:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#hongdae h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 3;
}

#hongdae h2 a {
  position: relative;
  padding: 1em 2em;
  font-size: 3.8rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #fff;
  z-index: 2;
}

#hongdae h2 a:hover {
  transition: all 0.3s;
}

#hongdae h2 a:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  transition: all 0.3s;
  z-index: 1;
}

#hongdae h2 a:hover:after,
#hongdae h2 a:focus:after {
  background-color: rgba(255, 255, 255, 0.2);
}

/* tablet */
@media screen and (max-width: 1200px) {

  /* main */
  #main .inner {
    height: 40vh;
  }

  /* membership */
  #membership li {
    width: 13em;
    height: 13em;
  }

  #membership img {
    width: 25%;
  }

  /* hongdae */
  #hongdae h2 a:after {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {

  /* main */
  #main {
    margin: 13em 0 6em;
  }

  /* membership */
  #membership ul {
    width: 29em;
    margin: 2em auto 0;
  }

  #membership li:nth-child(2n) {
    margin-right: 0;
  }

  #membership li:nth-child(n + 3) {
    margin-top: 3em;
  }
}

@media screen and (max-width: 640px) {

  /* main */
  #main {
    margin: 6.5em 0 4em;
  }

  #main .inner {
    height: 80vh;
  }

  #main img {
    width: auto;
    height: 100%;
  }

  #main h2 {
    width: 65%;
    font-size: 4rem;
    word-break: keep-all;
  }

  #main h2 span {
    font-weight: 600;
  }

  #main h2 span:after {
    display: none;
  }

  /* street */
  #street {
    padding: 4em 0;
  }

  #street img {
    width: 100%;
  }

  /* menu */
  #menu ul {
    display: block;
  }

  #menu li {
    width: 100%;
    margin-bottom: 2em;
  }

  #menu li:last-child {
    margin-bottom: 0;
  }

  #menu figure {
    position: relative;
    height: 20em;
  }

  #menu img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #menu h4 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5em 1em;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: left;
    color: #fff;
  }

  /* membership */
  #membership li {
    width: 12em;
    height: 12em;
    margin-right: 2em;
  }

  #membership li:nth-child(n+3) {
    margin-top: 2em;
  }

  /* hongdae */
  #hongdae h2 a {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
  }
}