@charset "utf-8";
@import url(/css/common.css);

/* introduce */
#introduce {
  margin: 14em 0 8em;
}

#introduce p {
  font-size: 2rem;
  text-align: center;
}

/* ceo */
#ceo {
  padding: 8em 0;
  background-color: #f4f4f4;
}

#ceo .ceo_area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#ceo figure {
  width: 30%;
  margin-right: 3em;
  opacity: 0.85;
}

#ceo img {
  width: 100%;
}

#ceo .text_area {
  width: calc(50% - 3em);
}

#ceo h4 {
  margin-bottom: 2em;
  font-size: 2.2rem;
  font-weight: 600;
  word-break: keep-all;
}

#ceo li {
  margin-bottom: 1em;
  font-size: 1.8rem;
  line-height: 1.5;
}

#ceo li h5 {
  font-weight: 600;
  color: #333;
}

/* nybagel */
#newyork figure {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

#newyork .building {
  margin-right: 3em;
}

#newyork img {
  width: 20vw;
}

#newyork p {
  font-size: 2rem;
  text-align: center;
}

/* nybagel */
#nybagel video {
  display: block;
  width: 70%;
  margin: 0 auto 2em;
}

#nybagel p {
  font-size: 2rem;
  text-align: center;
}

/* menu */
#menu {
  margin: 14em 0 8em;
}

#menu .category {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6em;
}

#menu .category li {
  position: relative;
  margin-right: 3em;
}

#menu .category li:last-child {
  margin-right: 0;
}

#menu .category li.on:after {
  content: "";
  position: absolute;
  bottom: -0.2em;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 110%;
  height: 2px;
  background-color: #555;
}

#menu .category a {
  position: relative;
  font-size: 2rem;
  color: #555;
  opacity: 0.6;
}

#menu .category a:before {
  content: "";
  position: absolute;
  top: -1.5em;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background-color: #555;
  transition: all 0.5s;
  opacity: 0;
}

#menu .category a:hover {
  opacity: 1;
}

#menu .category a:hover:before {
  top: -0.6em;
  opacity: 1;
}

#menu .category li.on a {
  font-weight: 600;
  opacity: 1;
}

#menu .product {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#menu .product li {
  width: calc((100% - 9em) / 4);
  margin-right: 3em;
}

#menu .product li:nth-child(4n) {
  margin-right: 0;
}

#menu .product li:nth-child(n + 5) {
  margin-top: 4em;
}

#menu .product figure {
  margin-bottom: 1em;
  overflow: hidden;
}

#menu .product img {
  width: 100%;
}

#menu .product p {
  font-size: 1.6rem;
  text-align: center;
  color: #555;
}

#menu .product h5 {
  font-size:2rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

/* hongdae */
#hongdae {
  margin: 14em 0 8em;
}

#hongdae p {
  margin-bottom: 2em;
  font-size: 2rem;
  text-align: center;
}

#hongdae span {
  position: relative;
  display: block;
  margin-bottom: 2em;
  font-weight: 1.6rem;
  text-align: center;
}

#hongdae span:before {
  content: "";
  position: absolute;
  top: -1.2em;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 3em;
  height: 0.1em;
  background-color: rgba(0, 0, 0, 0.6);
}

#hongdae .img_area {
  display: flex;
  justify-content: center;
}

#hongdae figure {
  height: 50vh;
  margin-right: 3em;
}

#hongdae figure:last-child {
  margin-right: 0;
}

#hongdae img {
  height: 100%;
}

#hongdae .map_wrap {
  width: 60%;
}

#hongdae #map {
  width: 100%;
  height: 50vh;
}

/* strategy */
#strategy {
  margin: 14em 0 8em;
}

#strategy ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

#strategy li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18em;
  height: 18em;
  margin-right: 3em;
  border-radius: 50%;
  background-color: #f4f4f4;
}

#strategy li:last-child {
  margin-right: 0;
}

#strategy img {
  width: 30%;
  margin: 0 auto 1.5em;
}

#strategy h5 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

/* timing */
#timing {
  padding: 8em 0;
  background-color: #f4f4f4;
}

#timing h4 {
  margin-bottom: 2em;
  font-size: 2rem;
  text-align: center;
}

#timing ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

#timing li {
  margin-right: 3em;
}

#timing li:last-child {
  margin-right: 0;
}

#timing .chart {
  position: relative;
}

#timing .chart span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.8rem;
  font-weight: 600;
}

#timing h5 {
  margin-top: 0.5em;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

#timing p {
  margin-top: 1em;
  opacity: 0.6;
  text-align: center;
}

/* cost */
#cost .table_area {
  display: flex;
  justify-content: center;
}

#cost table {
  width: 25vw;
  margin-right: 3em;
}

#cost table:last-child {
  margin-right: 0;
}

#cost table th,
#cost table td {
  font-size: 1.8rem;
}

/* contact */
#contact .con_area {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

#contact figure {
  width: 40%;
  height: 50em;
  margin-right: 3em;
  overflow: hidden;
}

#contact img {
  height: 100%;
}

#contact form {
  width: calc(60% - 3em);
}

#contact li {
  margin-bottom: 1em;
}

#contact label,
#contact h5 {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.8rem;
  font-weight: 600;
}

#contact input[type="text"],
#contact input[type="tel"] {
  width: 100%;
  font-size: 1.6rem;
}

#contact textarea {
  width: 100%;
  height: 10vh;
  font-size: 1.6rem;
}

#contact .policy_note {
  height: 10vh;
  padding: 0.6em;
  border: 1px solid #ccc;
  overflow-y: scroll;
}

#contact .policy_note h6 {
  margin-bottom: 0.5em;
  font-size: 1.3rem;
}

#contact .policy_note li {
  font-size: 1.3rem;
}

#contact .policy .chk_area {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

#contact .policy label {
  margin-bottom: 0;
  margin-left: 0.3em;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
}

#contact .policy input[type="checkbox"]:checked+label {
  font-weight: 600;
}

#contact .btn_area {
  margin-top: 2em;
}

#contact .btn {
  width: 100%;
}