@charset "utf-8";
@import url(/css/common.css);

/* introduce */
#introduce {
  margin: 14em 0 8em;
}

#introduce p {
  font-size: 1.8rem;
  text-align: center;
}

/* nybagel */
#newyork figure {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

#newyork .building {
  margin-right: 3em;
}

#newyork img {
  width: 20vw;
}

#newyork p {
  font-size: 1.8rem;
  text-align: center;
}

/* nybagel */
#newyork {
  padding: 8em 0;
  background-color: #f4f4f4;
}

#nybagel video {
  display: block;
  width: 70%;
  margin: 0 auto 2em;
}

#nybagel p {
  font-size: 1.8rem;
  text-align: center;
}

/* menu */
#menu {
  margin: 14em 0 8em;
}

#menu .category {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6em;
}

#menu .category li {
  position: relative;
  margin-right: 3em;
}

#menu .category li:last-child {
  margin-right: 0;
}

#menu .category li.on:after {
  content: "";
  position: absolute;
  bottom: -0.2em;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 110%;
  height: 2px;
  background-color: #555;
}

#menu .category a {
  position: relative;
  font-size: 2rem;
  color: #555;
  opacity: 0.6;
}

#menu .category a:before {
  content: "";
  position: absolute;
  top: -1.5em;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background-color: #555;
  transition: all 0.5s;
  opacity: 0;
}

#menu .category a:hover {
  opacity: 1;
}

#menu .category a:hover:before {
  top: -0.6em;
  opacity: 1;
}

#menu .category li.on a {
  font-weight: 600;
  opacity: 1;
}

#menu .product {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#menu .product li {
  width: calc((100% - 9em) / 4);
  margin-right: 3em;
}

#menu .product li:nth-child(4n) {
  margin-right: 0;
}

#menu .product li:nth-child(n + 5) {
  margin-top: 4em;
}

#menu .product figure {
  margin-bottom: 1em;
  overflow: hidden;
}

#menu .product img {
  width: 100%;
}

#menu .product p {
  text-align: center;
  color: #555;
}

#menu .product h5 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

/* hongdae */