@charset "utf-8";

/* story */
#storyBnr {
  position: relative;
  width: 100%;
  height: 40vh;
  margin-top: 7em;
}

#storyBnr .inner {
  position: relative;
  height: 100%;
  background: url(/img/img_home_main_01.jpg) no-repeat center / cover;
}

#storyBnr .inner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#storyBnr .bnrText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#storyBnr p {
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

#storyBnr h3 {
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

#storyBrand div {
  margin-bottom: 6em;
}

#storyBrand div:last-child {
  margin-bottom: 0;
}

#storyKorea p {
  margin-bottom: 0.5em;
  font-size: 2rem;
  text-align: center;
  line-height: 1.6;
}

#storyKorea p:last-child {
  margin-bottom: 0;
}

#storyKorea p span {
  font-weight: 600;
}

#storyEnglish p {
  margin-bottom: 0.5em;
  font-size: 2.2rem;
  text-align: center;
  line-height: 1.6;
}

#storyEnglish p:last-child {
  margin-bottom: 0;
}

#storyEnglish p span {
  font-weight: 600;
}

#storyRolling {
  position: relative;
}

#storyRolling img {
  width: 100%;
}

#storyRolling .swiper-horizontal>.swiper-pagination-bullets,
#storyRolling .swiper-pagination-bullets.swiper-pagination-horizontal,
#storyRolling .swiper-pagination-custom,
#storyRolling .swiper-pagination-fraction {
  top: auto;
  bottom: -4vh;
}

#storyRolling .swiper-pagination-bullet {
  width: 0.7em;
  height: 0.7em;
  background-color: #eee;
  opacity: 1;
}

#storyRolling .swiper-pagination-bullet-active {
  background-color: #00690F;
}

/* menu */
#menuBnr {
  position: relative;
  width: 100%;
  height: 40vh;
  margin-top: 7em;
}

#menuBnr .inner {
  position: relative;
  height: 100%;
  background: url(/img/img_home_main_02.jpg) no-repeat center / cover;
}

#menuBnr .inner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#menuBnr .bnrText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#menuBnr p {
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

#menuBnr h3 {
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

#menuBtn {
  margin-bottom: 3em;
}

#menuBtn ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

#menuBtn li {
  width: calc(100% / 4);
  border: 1px solid #ccc;
  margin-left: -1px;
}

#menuBtn li.on {
  border: 1px solid #DBC7A1;
  background-color: #DBC7A1;
}

#menuBtn li a {
  display: block;
  width: 100%;
  padding: 0.5em 0;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  color: #666;
}

#menuBtn li.on a {
  color: #fff;
}

#menuList ul {
  display: flex;
  flex-wrap: wrap;
}

#menuList li {
  width: calc((100% - 6em) / 4);
  margin-right: 2em;
}

#menuList li:nth-child(4n) {
  margin-right: 0;
}

#menuList li:nth-child(n + 5) {
  margin-top: 2em;
}

#menuList figure {
  margin-bottom: 1em;
  overflow: hidden;
}

#menuList img {
  width: 100%;
}

#menuList p {
  margin-bottom: 0.3em;
  font-size: 1.4rem;
  text-align: center;
  color: #555;
}

#menuList h5 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

/* store */
#storeBnr {
  position: relative;
  width: 100%;
  height: 40vh;
  margin-top: 7em;
}

#storeBnr .inner {
  position: relative;
  height: 100%;
  background: url(/img/img_store_bnr.jpg) no-repeat center / cover;
}

#storeBnr .inner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#storeBnr .bnrText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#storeBnr .bnrText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#storeBnr p {
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

#storeBnr h3 {
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

#storeLocation ul>li {
  display: flex;
  align-items: center;
  padding: 2em 0;
  border-bottom: 1px solid #ccc;
}

#storeLocation ul>li:first-child {
  border-top: 1px solid #ccc;
}

#storeLocation figure {
  width: 20vw;
  margin-right: 3em;
}

#storeLocation img {
  width: 100%;
}

#storeLocation h4 {
  margin-bottom: 1em;
  font-size: 2rem;
  font-weight: 500;
}

#storeLocation p {
  font-size: 1.6rem;
}

#storeLocation ol>li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

#storeLocation span {
  margin-right: 0.3em;
  font-size: 1.8rem;
}

/* faq */
#faqBnr {
  position: relative;
  width: 100%;
  height: 40vh;
  margin-top: 7em;
}

#faqBnr .inner {
  position: relative;
  height: 100%;
  background: url(/img/img_store_bnr.jpg) no-repeat center / cover;
}

#faqBnr .inner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#faqBnr .bnrText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#faqBnr .bnrText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#faqBnr p {
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

#faqBnr h3 {
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

#faqList {
  margin-top: 7em;
}

#faqList table {
  width: 100%;
}

#faqAnswer {
  margin-top: 10em;
}

#faqAnswer .title {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

#faqAnswer .title h4 {
  margin-bottom: 0.5em;
  font-size: 2rem;
  font-weight: 500;
}

#faqAnswer .title li {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #666;
}

/* membership */
#memBnr {
  position: relative;
  width: 100%;
  height: 40vh;
  margin-top: 7em;
}

#memBnr .inner {
  position: relative;
  height: 100%;
  background: url(/img/img_store_bnr.jpg) no-repeat center / cover;
}

#memBnr .inner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#memBnr .bnrText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#memBnr .bnrText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#memBnr p {
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

#memBnr h3 {
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

#memStrategy h4 {
  margin-bottom: 1em;
  font-size: 2.8rem;
  font-weight: 500;
  text-align: center;
}

#memStrategy ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#memStrategy li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17em;
  height: 17em;
  margin-right: 2em;
  border-radius: 50%;
  background-color: #F9F7F2;
}

#memStrategy li:last-child {
  margin-right: 0;
}

#memStrategy img {
  width: 30%;
  margin: 0 auto 1.5em;
}

#memStrategy h5 {
  font-size: 1.8rem;
  text-align: center;
}

#memCost h4 {
  margin-bottom: 1em;
  font-size: 2.8rem;
  font-weight: 500;
  text-align: center;
}

#memCost table {
  width: 100%;
}

#memCost table th,
#memCost table td {
  font-size: 1.6rem;
}

#memProcedure h4 {
  margin-bottom: 1em;
  font-size: 2.8rem;
  font-weight: 500;
  text-align: center;
}

#memProcedure ul {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

#memProcedure li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: calc((100% - 10em) / 6);
  margin-right: 2em;
  padding: 2em 1em;
  border: 1px solid #ccc;
}

#memProcedure li:last-child {
  margin-right: 0;
}

#memProcedure figure {
  width: 100%;
  margin-bottom: 1em;
}

#memProcedure img {
  height: 5em;
  margin: 0 auto;
}

#memProcedure p {
  width: 100%;
  margin-bottom: 0.2em;
  font-size: 1.6rem;
  text-align: center;
  color: #999;
}

#memProcedure h5 {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

#memContact h4 {
  margin-bottom: 1em;
  font-size: 2.8rem;
  font-weight: 500;
  text-align: center;
}

#memContact li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

#memContact label,
#memContact h5 {
  display: block;
  width: 6em;
  font-size: 1.8rem;
  font-weight: 500;
}

#memContact input[type="text"],
#memContact input[type="tel"] {
  width: calc(100% - 8em);
}

#memContact textarea {
  width: calc(100% - 8em);
  height: 15vh;
}

#memContact .policy {
  padding-top: 2em;
  margin-top: 2em;
  border-top: 1px solid #666;
}

#memContact .policy h5 {
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1.6rem;
}

#memContact .policy_note {
  height: 15vh;
  padding: 0.6em;
  border: 1px solid #ccc;
  overflow-y: scroll;
}

#memContact .policy_note h6 {
  margin-bottom: 0.5em;
  font-size: 1.3rem;
}

#memContact .policy_note li {
  font-size: 1.3rem;
}

#memContact .policy .chk_area {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

#memContact .policy label {
  width: fit-content;
  margin-bottom: 0;
  margin-left: 0.3em;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
}

#memContact .policy input[type="checkbox"]:checked+label {
  font-weight: 600;
}

#memContact .btn_area {
  margin-top: 2em;
}

#memContact .btn {
  padding: 0.5em 4em;
}

/* partner */
#partBnr {
  position: relative;
  width: 100%;
  height: 40vh;
  margin-top: 7em;
}

#partBnr .inner {
  position: relative;
  height: 100%;
  background: url(/img/img_store_bnr.jpg) no-repeat center / cover;
}

#partBnr .inner:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

#partBnr .bnrText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#partBnr .bnrText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#partBnr p {
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

#partBnr h3 {
  font-size: 6rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
}