@charset "utf-8";

/* introduce */
#introduce {
  margin: 14em 0 8em;
}

#introduce p {
  font-size: 2rem;
  text-align: center;
  word-break: keep-all;
}

/* ceo */
#ceo {
  padding: 8em 0;
  background-color: #f4f4f4;
}

#ceo .ceo_area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#ceo figure {
  width: 30%;
  margin-right: 3em;
  opacity: 0.85;
}

#ceo img {
  width: 100%;
}

#ceo .text_area {
  width: calc(50% - 3em);
}

#ceo h4 {
  margin-bottom: 2em;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.5;
  word-break: keep-all;
}

#ceo li {
  margin-bottom: 1em;
  font-size: 1.8rem;
  line-height: 1.5;
}

#ceo li h5 {
  font-weight: 600;
  color: #333;
}

/* newyork */
#newyork figure {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

#newyork .building {
  margin-right: 3em;
}

#newyork img {
  width: 20vw;
}

#newyork p {
  font-size: 2rem;
  text-align: center;
}

/* nybagel */
#nybagel video {
  display: block;
  width: 70%;
  margin: 0 auto 2em;
}

#nybagel p {
  font-size: 2rem;
  text-align: center;
}

/* menu */
#menu {
  margin: 14em 0 8em;
}

#menu .category {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6em;
}

#menu .category li {
  position: relative;
  margin-right: 3em;
}

#menu .category li:last-child {
  margin-right: 0;
}

#menu .category li.on:after {
  content: "";
  position: absolute;
  bottom: -0.2em;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 110%;
  height: 2px;
  background-color: #555;
}

#menu .category a {
  position: relative;
  font-size: 2rem;
  color: #555;
  opacity: 0.6;
}

#menu .category a:before {
  content: "";
  position: absolute;
  top: -1.5em;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  background-color: #555;
  transition: all 0.5s;
  opacity: 0;
}

#menu .category a:hover {
  opacity: 1;
}

#menu .category a:hover:before {
  top: -0.6em;
  opacity: 1;
}

#menu .category li.on a {
  font-weight: 600;
  opacity: 1;
}

#menu .product {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#menu .product li {
  width: calc((100% - 9em) / 4);
  margin-right: 3em;
}

#menu .product li:nth-child(4n) {
  margin-right: 0;
}

#menu .product li:nth-child(n + 5) {
  margin-top: 4em;
}

#menu .product figure {
  margin-bottom: 1em;
  overflow: hidden;
}

#menu .product img {
  width: 100%;
}

#menu .product p {
  font-size: 1.6rem;
  text-align: center;
  color: #555;
}

#menu .product h5 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

/* hongdae */
#hongdae {
  margin: 14em 0 8em;
}

#hongdae p {
  margin-bottom: 2em;
  font-size: 2rem;
  text-align: center;
}

#hongdae span {
  position: relative;
  display: block;
  margin-bottom: 2em;
  font-size: 1.6rem;
  text-align: center;
}

#hongdae span:before {
  content: "";
  position: absolute;
  top: -1.2em;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 3em;
  height: 0.1em;
  background-color: rgba(0, 0, 0, 0.6);
}

#hongdae .img_area {
  display: flex;
  justify-content: center;
}

#hongdae figure {
  height: 50vh;
  margin-right: 3em;
}

#hongdae figure:last-child {
  margin-right: 0;
}

#hongdae img {
  height: 100%;
}

#hongdae .map_wrap {
  width: 60%;
}

#hongdae #map {
  width: 100%;
  height: 50vh;
}

/* strategy */
#strategy {
  margin: 14em 0 8em;
}

#strategy ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#strategy li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17em;
  height: 17em;
  margin-right: 3em;
  border-radius: 50%;
  background-color: #f4f4f4;
}

#strategy li:last-child {
  margin-right: 0;
}

#strategy img {
  width: 30%;
  margin: 0 auto 1.5em;
}

#strategy h5 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

/* timing */
#timing {
  padding: 8em 0;
  background-color: #f4f4f4;
}

#timing h4 {
  margin-bottom: 2em;
  font-size: 2rem;
  text-align: center;
}

#timing ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

#timing li {
  margin-right: 3em;
}

#timing li:last-child {
  margin-right: 0;
}

#timing .chart {
  position: relative;
}

#timing .chart span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.8rem;
  font-weight: 600;
}

#timing h5 {
  margin-top: 0.5em;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

#timing p {
  margin-top: 1em;
  opacity: 0.6;
  text-align: center;
}

/* cost */
#cost .table_area {
  display: flex;
  justify-content: center;
}

#cost table {
  width: 25vw;
  margin-right: 3em;
}

#cost table:last-child {
  margin-right: 0;
}

#cost table th,
#cost table td {
  font-size: 1.8rem;
}

/* contact */
#contact .con_area {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

#contact figure {
  width: 40%;
  height: 50em;
  margin-right: 3em;
  overflow: hidden;
}

#contact img {
  height: 100%;
}

#contact form {
  width: calc(60% - 3em);
}

#contact li {
  margin-bottom: 1em;
}

#contact label,
#contact h5 {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.8rem;
  font-weight: 600;
}

#contact input[type="text"],
#contact input[type="tel"] {
  width: 100%;
  font-size: 1.6rem;
}

#contact textarea {
  width: 100%;
  height: 10vh;
  font-size: 1.6rem;
}

#contact .policy_note {
  height: 10vh;
  padding: 0.6em;
  border: 1px solid #ccc;
  overflow-y: scroll;
}

#contact .policy_note h6 {
  margin-bottom: 0.5em;
  font-size: 1.3rem;
}

#contact .policy_note li {
  font-size: 1.3rem;
}

#contact .policy .chk_area {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

#contact .policy label {
  margin-bottom: 0;
  margin-left: 0.3em;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
}

#contact .policy input[type="checkbox"]:checked+label {
  font-weight: 600;
}

#contact .btn_area {
  margin-top: 2em;
}

#contact .btn {
  width: 100%;
}

/* tablet */
@media screen and (max-width: 1200px) {

  /* main */
  #main .inner {
    height: 40vh;
  }

  /* membership */
  #membership li {
    width: 13em;
    height: 13em;
  }

  #membership img {
    width: 25%;
  }

  /* hongdae */
  #hongdae h2 a:after {
    opacity: 1;
  }

  /* ceo */
  #ceo figure {
    width: 40%;
  }

  #ceo h4 br {
    display: none;
  }

  /* newyork */
  #newyork img {
    width: 30vw;
  }

  /* hongdae */
  #hongdae figure {
    height: 45vh;
  }

  #hongdae #map {
    height: 45vh;
  }

  /* strategy */
  #strategy ul {
    width: 37em;
    margin: 0 auto;
  }

  #strategy li:nth-child(2n) {
    margin-right: 0;
  }

  #strategy li:nth-child(n + 3) {
    margin-top: 3em;
  }

  #strategy img {
    width: 25%;
  }

}

@media screen and (max-width: 768px) {

  /* ceo */
  #ceo figure {
    width: 45%;
  }

  #ceo h4 {
    font-size: 2rem;
  }

  /* menu */
  #menu .product li {
    width: calc((100% - 6em) / 4);
    margin-right: 2em;
  }

  #menu .product li:nth-child(n + 5) {
    margin-top: 2em;
  }

  #menu .product p {
    font-size: 1.4rem;
  }

  #menu .product h5 {
    font-size: 1.8rem;
  }

  .chart canvas {
    width: 15em !important;
    height: 15em !important;
  }
}


@media screen and (max-width: 640px) {

  /* introduce */
  #introduce {
    margin: 6.5em 0 4em;
  }

  /* ceo */
  #ceo {
    padding: 4em 0;
  }

  #ceo .ceo_area {
    display: block;
  }

  #ceo figure {
    width: 70%;
    margin: 0 auto 2em;
  }

  #ceo .text_area {
    width: 100%;
  }

  #ceo h4 {
    letter-spacing: -0.03em;
    text-align: center;
  }

  #ceo li {
    text-align: center;
  }

  /* newyork */
  #newyork img {
    width: calc((100% - 1em) / 2)
  }

  #newyork .building {
    margin-right: 1em;
  }

  /* nybagel */
  #nybagel video {
    width: 100%;
  }

  /* menu */
  #menu {
    margin: 6.5em 0 4em;
  }

  #menu .category {
    margin-bottom: 4em;
  }

  #menu .category a:before {
    display: none;
  }

  #menu .product li {
    width: calc((100% - 2em) / 2);
    margin-right: 2em;
  }

  #menu .product li:nth-child(2n) {
    margin-right: 0;
  }

  #menu .product li:nth-child(n + 3) {
    margin-top: 2em;
  }

  #menu .product p {
    font-size: 1.6rem;
  }

  #menu .product h5 {
    font-size: 2rem;
  }

  /* hongdae */
  #hongdae {
    margin: 6.5em 0 4em;
  }

  #hongdae h3 span {
    margin: 0;
  }

  #hongdae h3 span:before {
    display: none;
  }

  #hongdae .img_area {
    display: block;
  }

  #hongdae figure {
    width: 100%;
    height: auto;
    margin: 0 0 2em;
  }

  #hongdae img {
    width: 100%;
    height: auto;
  }

  #hongdae .map_wrap {
    width: 100%;
  }

  /* strategy */
  #strategy {
    margin: 6.5em 0 4em;
  }

  #strategy ul {
    width: 100%;
  }

  #strategy li {
    width: 12em;
    height: 12em;
    margin-right: 2em;
  }

  #strategy li:nth-child(n+3) {
    margin-top: 2em;
  }

  #strategy h5 {
    width: 90%;
    margin: 0 auto;
    font-size: 1.5rem;
    word-break: keep-all;
  }

  /* timing */
  #timing ul {
    display: block;
  }

  #timing li {
    margin-right: 0;
    margin-bottom: 2em;
  }

  #timing li:last-child {
    margin-bottom: 0;
  }

  #timing h4 {
    word-break: keep-all;
  }

  #timing .chart {
    display: flex;
    justify-content: center;
  }

  /* cost */
  #cost .table_area {
    display: block;
  }

  #cost table {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2em;
  }

  #cost table:last-child {
    margin-bottom: 0;
  }

  /* contact */
  #contact .con_area {
    display: block;
  }

  #contact figure {
    position: relative;
    width: 100%;
    height: 30vh;
    margin-right: 0;
    margin-bottom: 2em;
  }

  #contact img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
  }

  #contact form {
    width: 100%;
  }

  #contact .policy_note h6,
  #contact .policy_note li {
    font-size: 1.4rem;
  }

  #contact .policy label {
    font-size: 1.5rem;
  }

}